.img-fluid {
    width: 100%;
}

#profile-summary {
    overflow: auto;
}

.badge-img {
  margin-right: 10px;
}

.request-table tr {
    line-height: 40px;
}

.tutor-request {
    transition: all 0.5s ease;
    background-color: #ffffff;
    padding: 5px 0;
}

.tutor-request:hover {
    background-color: #dddddd;
}

.logo {
    width: 100px;
    height: 30px;
}

.navbar-brand {
  padding: 10px;
}
/*TODO*/
/*
.draw {
  transition: all 0.25s;
  
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #d34615;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #d34615;
  border-right-color: #d34615;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #d34615;
  border-left-color: #d34615;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}*/
